table {
    width: 100%;
}

th.mat-header-cell {
    font-size: large;
    text-align: center;
}

td.mat-cell {
    text-align: center;
}

th.mat-sort-header-sorted {
    color: black;
}

.table-box {
    width: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.mat-paginator.paginator--centered {
    display: flex;
    justify-content: center;
}

.filter-box {
    margin-top: 30px;
}

.fa.fa-pencil {
    color: rgba(245, 190, 10, 0.897);
}

.fa.fa-trash-o {
    color: rgb(190, 60, 27);
}


/* TOggel Switch */


/* .onoffswitch {
position: relative; width: 155px;
-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
display: none;
}
.onoffswitch-label {
display: block; overflow: hidden; cursor: pointer;
border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
display: block; width: 200%; margin-left: -100%;
transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
box-sizing: border-box;
}
.onoffswitch-inner:before {
content: "Available!";
padding-left: 10px;
background-color: green; color: #FFFFFF;
}
.onoffswitch-inner:after {
content: "Not Availabe!";
padding-right: 10px;
background-color: red; color: #FFFFFF;
text-align: right;
}
.onoffswitch-switch {
display: block; width: 46px; margin: 2px;
background: #FFFFFF;
position: absolute; top: 0; bottom: 0;
right: 101px;
border: 2px solid #999999; border-radius: 20px;
transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
right: 0px; 
} */


/* Toggle Switch */

body {
    margin: 0;
    padding: 0;
    background: #151515;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"] {
    margin: 10px;
    position: relative;
    width: 60px;
    height: 20px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, red, #000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1);
}

input:checked[type="checkbox"]:nth-of-type(1) {
    background: linear-gradient(0deg, #000, #06f72e);
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1);
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98, .96);
    transition: .5s;
}

input:checked[type="checkbox"]:before {
    left: 30px;
}


/* ---------------------------------EXPAND---------------------------- */

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(22, 22, 22);
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #030303;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}


/* Update Popup */

.modal-content {
    background-color: black;
}

.close {
    color: goldenrod;
}

.example-element-detail h6 {
    color: goldenrod;
}