body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url('/assets/background.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mybutton {
    background-color: #016950;
    color: white;
}

.nav-link {
    color: #016950;
    font-size: medium;
}